/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 100px;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

#nav-mobile {
  display: none;
}

#jumbo {
  padding-top: 50px;
  min-height: 300px;
}

/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}

/* contenitore sx sezione 1 di main */
.sez1-container-left {
  width: 100%;
  text-align: center;
  padding-top:15px;
  /* debug */
  border:1px solid black;
  background-color:lightgrey;
}

/* contenitore dx sezione 1 di main */
.sez1-container-right {
  width: 100%;
  text-align: center;
  padding-top:15px;
  /* debug */
  border:1px solid black;
  background-color:lightgrey;
}

.sez2 {
  padding:2% 0;
  position: relative;
}

#iphone {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-40% -50%);
}

.sez2-up {
  width: 100%;
  height: 350px;
}

.sez2-up img {
  width: 100%;
  height:350px;
  }

.centra-sez2 {
  padding: 5% 20%;
  text-align: center;
  }

.centra-sez3 {
  padding: 2% 5%;
}

/* contenitore colonna smart mobility */
#smart-mobility-container {
  width: 100%;
  background-image: url(../img/smart-mobility.jpg);
  background-size:cover;
  min-height:500px;
  position: relative;
}

/* stile testo smart mobility */
#smart-mobility-text {
  color: white;
  position: absolute;
  top: 30%;
  left: 60%;
}

/* contenitore get app */
#get-app-container {
  width: 100%;
  min-height:500px;
  background-color: #394a5b;
  text-align: center;
}

/* #get-app-text {
  min-height: 200px;
}

#get-app-img img {
  max-width: 100%;
  margin-bottom: 0;
} */

/* contenitore find-us */
#find-us-container {
  width: 100%;
  background-image: url(../img/find-us.jpg);
  background-size:cover;
  min-height:500px;
  text-align: center;
}

/* stile elementi testuali nella sezione get app */
#get-app-text h1,
#get-app-text p,
#get-app-text a {
  font-size: 20px;
  color: white;
  padding: 20px;
  text-decoration: none;
}

/* margini inferiori in get app e find us */
#get-app-text,
#find-us-text {
  margin-bottom: 20px;
}

/* contenitore testo find us */
#find-us-text {
  min-height: 300px;
}

/* stile elementi testuali nella sezione find-us */
#find-us-text h1,
#find-us-text p,
#find-us-text a {
  font-size: 20px;
  color: white;
  padding: 20px;
  text-decoration: none;

}

/* font h1 in sez get app e find us */
#get-app-text h1,
#find-us-text h1 {
  font-size: 35px;
}

/* container con immagine social */
#hashtag-container {
  min-height: 400px;
  background-image: url(../img/pachwork.jpg);
  background-size: cover;
  position: relative;
}

/* contenitore bianco hashtag e loghi social */
#hashtag-helbiz {
  min-height: 200px;
  width: 25%;
  background-color: white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* stile hastag helbiz */
#helbiz-family > h1 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: normal;
}

/* clearfix float social logo */
#social-logo-hashtag::after {
  content: "";
  clear: both;
  display: table;
}

/* centratura orizzontale social */
#social-logo-hashtag {
  padding-left: 80px;
}

/* stile loghi social */
.social-logo {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* stile link social-logo */
.social-logo a {
  text-decoration: none;
  color: black;
}

.social-logo i {
  font-size: 30px;
}
